services:
  postgres:
    image: pgvector/pgvector:pg18
    container_name: postgres-launchline
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: local
    ports:
      - "5422:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    container_name: redis-launchline
    ports:
      - "6378:6379"
    volumes:
      - redis_data:/data

  rabbbitmq:
    image: rabbitmq:management
    container_name: rabbitmq-launchline
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data:
  postgres_data:
  redis_data:
